.Contact {
	background-color: white;
	margin-top: 0;
	height: 500px;
}

.Contact .ldt-fade-in > div {
	text-align: left;
	width: 400px;
	margin-left: 330px;
}

.Contact .ldt-fade-in > div img {
	width: 30px;
	float: left;
}


